@model IEnumerable<TarefaLista.Models.TarefaLista>

@{
    ViewBag.Title = "Lista de Tarefas";
}

<h2>Lista de Tarefas</h2>

<p>
    @Html.ActionLink("Criar uma Nova Tarefa", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Descrição
        </th>
        <th>
            Anotação
        </th>
        <th>
           Data de Criação
        </th>
        <th>
            Data da Tarefa
        </th>
        <th>
            Finalizada em
        </th>
        <th>
            Prioridade
        </th>
        <th>
            Status
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Descricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Anotacao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataCriacao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataAtividade)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataFinalizacao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Prioridade)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.Id }) |
            @Html.ActionLink("Excluir", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
